.navbar{
    display: flex;
    background-color: rgb(146, 119, 172);
}
.site-name{
    padding: 5px 30px;
    color: #E74c3c;
}
.site-menu{
    padding: 10px 30px;
    margin-left: 10px;
}
*{
    text-decoration: none;
    color: #212F3D;
    margin: 0px 10px;
}